<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand txt-nav" href="/dashboard"><i style="font-size: 30px; margin-left:40px; margin-top:-30px" class="fas fa-home"></i></a>
   </div>  <ul class="nav navbar-nav navbar-right">
      <li><a class="txt-nav" style=" font-size: 15px;" href="#"><i class="fas fa-user"> <%= username %></i></a></li>
      <li><a class="txt-nav" style=" font-size: 20px;margin-right:70px;" href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
     </ul>
  </div>
  </nav>
  <% if(user.isAdmin){ %> 
  <div class="row">
    <div class="topnav text-center">
      <div style="padding-left: 150px;padding-right: 150px;">
      <table class="table table-hover">
          <thead>
              <tr>   
                  <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/users/<%= user._id %>">Mes informations</a></th>
                  <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/users">Liste des utilisateurs</a></th>  
                  <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/clients">Liste des clients</a></th>
                  <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/factures">Liste des factures</a></th>
                  <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/produits">Liste des produits</a></th> 
              </tr> 
          </thead>
      </table>
      </div>
  </div>
</div>


<div class= "row">
    <div class="card card-body-5">
  
        <% include ../partials/messages %>
        <div class="row">
            <div class="col col-lg-11">
              <form action="/" method="GET" class="form-inline" >
                <div class="">
                <input type="text" name="search" placeholder="Nom du produit" class="form-control">
                <input type="submit" value="Search" class="btn btn-secondary">
              </div>
             </form>
            </div>
            <div class="col col-lg-1">
              <a href="/" onClick="return confirm('Are you sure you want to delete?')" class="btn btn-sm btn-danger">Vider</a>
            </div>
          </div>
    <div class="row">
      <table class="table table-hover">
      <h5 class="text-center txt-nav">liste des produits commande par<div style="color: #2b4e63"><%= c.client_name %></div></h5>
      </table>
    </div>
    <div class="tab">
    <table class="table table-hover">
      <thead>
        <tr style='text-align:left;'>
          <th>Id</th>
          <th>Designation</th>
          <th>Prix</th>
          <th>Quantite</th>
          <th>Facture</th>
          <th>Client</th>
          <th>Societe</th>
          </tr>
      </thead>
    
     <% if (results) { %>
     <%  results.forEach(function (result){ %>
         <tbody>
        <tr>
        <td><%= result._id %></td>
        <td><%= result.des %></td> 
        <td><%= result.prix %></td>
        <td><%= result.qty %></td>
        <td><%= result.facture.desf %></td>
        <td><%= result.client.client_name %></td>
        <td><%= result.user1.username %></td>
        <td>
            <div style="float:left">
              <a href="/produits/modifier/<%= result._id %>" class="btn btn-xs btn-warning"><i class="fas fa-edit"></i></a>
              <a href="/produits/supprimer/<%= result._id %>" onClick="return confirm('Are you sure you want to delete?')" class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></a>
            </div> 
          </td>
      </tr>
     <% }) %>
     <% } %>
        </tbody>
        </table> 
    </div>
    </div>
    </div>

<% } %>