<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand txt-nav" href="/dashboard"><i style="font-size: 30px; margin-left:40px; margin-top:-30px" class="fas fa-home"></i></a>
       </div>  <ul class="nav navbar-nav navbar-right">
          <li><a class="txt-nav" style=" font-size: 15px;" href="#"><i class="fas fa-user"> <%= username %></i></a></li>
          <li><a class="txt-nav" style=" font-size: 20px;margin-right:70px;" href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
         </ul>
      </div>
</nav>
<% if(user.isLoggedIn){ %> 
<div class="row">
    <div class="topnav text-center">
      <div style="padding-left: 150px;padding-right: 150px;">
      <table class="table table-hover">
          <thead>
            <tr>  
                <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/users/<%= user._id %>">Mes informations</a></th> 
                <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/clients">Liste des clients</a></th>
                <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/factures">Liste des factures</a></th> 
                <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/produits">Liste des produits</a></th> 
            </tr> 
          </thead>
      </table>
  </div></div>
</div>
<% include ../partials/messages %>
<nav class="navbar navbar-light text-center">
        <div class="row">
                <h4 class="text-center txt-nav">id: <%= produit._id %></h4>
        </div>
        <div class="row">
                <div class="col col-lg-4">
        <table class="table table-borderless table-condensed table-hover">
          <thead><h4 class="text-center txt-nav">Produit </h4></thead><br><br>
          <tr>
            <td scope="col">designation :</td>
            <td scope="col"><%= produit.roduit.des%> </td>
          </tr>
          <tr>
            <td scope="col">Prix :</td>
            <td scope="col"><%= produit.produit.prix %></td>
          </tr>

          <tr>
            <td scope="row">Quantité :</td>
            <td> <%= produit.produit.qty %>  </td>
            
          </tr>
      </table></div>
      <div class="col col-lg-4">
            <table class="table table-borderless table-condensed table-hover">
                    <thead><h4 class="text-center txt-nav">Client </h4></thead><br><br>
                    <tr>
                      <td scope="col">Nom :</td>
                      <td scope="col"><%= produit.client.client_name %> </td>
                    </tr>
                    <tr>
                      <td scope="col">Email :</td>
                      <td scope="col"><%= produit.client.client_email %></td>
                    </tr>
          
                    <tr>
                      <td scope="row">Telephone :</td>
                      <td><%= produit.client.client_tel %>  </td>
                      
                    </tr>
        </table>
     </div>
     <div class="col col-lg-4">
            <table class="table table-borderless table-condensed table-hover">
                    <thead><h4 class="text-center txt-nav">Societe  </h4></thead><br><br>
                    <tr>
                      <td scope="col">Nom :</td>
                      <td scope="col"><%= produit.user1.username %> </td>
                    </tr>
                    <tr>
                      <td scope="col">Email :</td>
                      <td scope="col"><%= produit.user1.email %></td>
                    </tr>
          
                    <tr>
                      <td scope="row">Telephone :</td>
                      <td><%= produit.user1.telephone %>  </td>
                      
                    </tr>
        </table>
    </div>
    </div>
           
  </nav>
<% } %>