<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand txt-nav" href="/dashboard"><i style="font-size: 30px; margin-left:40px; margin-top:-30px" class="fas fa-home"></i></a>
 </div>  <ul class="nav navbar-nav navbar-right">
    <li><a class="txt-nav" style=" font-size: 15px;" href="#"><i class="fas fa-user"> <%= username %></i></a></li>
    <li><a class="txt-nav" style=" font-size: 20px;margin-right:70px;" href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
   </ul>
</div>
</nav>
<div class="row">
        <div class="topnav text-center">
          <div style="padding-left: 150px;padding-right: 150px;">
          <table class="table table-hover">
              <thead>
                  <tr>  
                      <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/users/<%= user._id %>">Mes informations</a></th>
                      <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/users">Liste des Utilisateurs</a></th>  
                      <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/clients">Liste des clients</a></th>
                      <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/factures">Liste des factures</a></th> 
                      <th><a class="txt-nav" style="color:rgb(110, 109, 109)" href="/produits">Liste des produits</a></th> 
                  </tr> 
              </thead>
          </table>
          <th><a class="txt-nav" style="color: #2b4e63" href="/users/ajouter">Ajouter Utilisateur</a></th>
      </div>
    </div>
    </div>
  <div class= "row">
  <div class="card card-body-5">
<% include ../partials/messages %>
<div class="row">
  <div class="col col-lg-11">
    <form action="/users" method="GET" class="form-inline" >
      <div class="">
      <input type="text" name="search" placeholder="Rechercher..." class="form-control">
      <input type="submit" value="Search" class="btn btn-secondary">
    </div>
   </form>
  </div>
  <div class="col col-lg-1">
    <a href="/users/delete" onClick="return confirm('Are you sure you want to delete?')" class="btn btn-sm btn-danger">Vider</a>
  </div>
</div>
<div class="row">
    <table class="table table-hover">
        <h4 class="text-center txt-nav">liste des utilisateurs </h4>
    </table>
  </div>
    <div class="tab">
        <table class="table table-hover">
          <thead>
            <tr style='text-align:left;'>
              <th>N°</th>
              <th>Nom</th>
              <th></th>
              <th></th>
              <th>Client</th>
              <th>
              
            </tr>
          </thead>
            <% if (users) { %>
            <%  users.forEach(function (user){ %>
          <tbody>
            <tr>
              <td><%= user._id %></td>
              <td><%= user.username %></td>
              <td><form action="/users/<%= user._id %>" method="GET"><button class="btn btn-xs btn-secondary txt-nav">Info</button></form></td>
              <td>
                <div style="float:left">
                  <a href="/users/modifier/<%= user._id %>" class="btn btn-xs btn-warning"><i class="fas fa-edit"></i></a>
                  <a href="/users/supprimer/<%= user._id %>" onClick="return confirm('Are you sure you want to delete?')" class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></a>
                </div> 
              </td>
              <td>
                <form action="/users/<%= user._id %>/ajouter-client" method="GET"> 
                  <button class="btn btn-primary"><i class="fas fa-plus-square"></i></button>
                </form>
              </td><td>
                  <form action="/users/<%= user._id %>/clients" method="GET"> 
                    <button class="btn btn-secondary">all</button>
                  </form>
                </td>
            </tr>
                  <% }) %>
                  <% } %>
                    </tbody>
              </table>
                </div>
            </div>
            </div>
  
  
  